<h1>LOG IN TO SEE MOAR SHIT</h1>
<form id="login" action='/login' method='post' class="form-horizontal" role="form">

  <div class="form-group">
    <button name="submit" type="submit" value="login" class="btn btn-default">log in with twidder</button>
  </div>
</form>
<p>